<%# views/auth/register.ejs %>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="/authstyle.css">
  </head>
  <body>



<form id ='register' method="POST" action="/auth/register">
  <input name="username" type="text" placeholder="username" required /><br>
  <input name="email" type="email" placeholder="email" required /> <br>
  <input name="password" type="password" placeholder="password" required /> <br>
  <input type="submit" value="Register!" />
</form>
