.logo {
  z-index: 1;
  background-color: white;
  text-align: center;
}

.emojiheader {
  height: 30px;
}


#side {
  width: 25%;
  height: 100%;
  overflow: scroll;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
}

#map {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  border: 1px solid black;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: grey;
  font-family: 'Bungee', cursive;
}

h3 {
  text-align: center;
}

#locationInfo{
  /*display: none;*/
}

#lat, #lng {
  display: none;
}
