.logo {
  z-index: 1;
  background-color: white;
  text-align: center;
}

.emojiheader {
  height: 30px;
}

#address {
  width: 75%;
}

.gm-style-iw {
  background-color: pink;
  z-index: 1;
  font-family: 'Bungee', cursive;
  text-align: center;
}

#side {
  height: 100%;
  width: 25%;
  overflow: scroll;
  position: fixed;
  left: 0;
  top: 0;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
/*  display: inherit;*/
}

#map {
  height: 100%;
  width: 75%;
  position: absolute;
  left: 25%;
  margin: 0 auto;
  border: 1px solid black;
  display: inherit;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: grey;
  font-family: 'Bungee', cursive;
}

h3 {
  text-align: center;
}

#locationInfo{
  /*display: none;*/
}

#lat, #lng {
  display: none;
}

#showMap, #showNav {
  position: absolute;
  bottom: 0;
  width: 50%;
  display: none;
}

#showMap {
 left: 50%;
}


#showNav {
 left: 0;
}

@media (max-width: 500px) {
  #showMap, #showNav {
    display: inherit;
  }
  #map {
    width: 100%;
    left: 0;
    display: inherit;
  }
  #side {
    width: 100%;
    display: none;
  }
}

@media (min-width: 501px) {
  #map {
    width: 50%;
    left: 50%;
    display: inherit;
  }
  #side {
    width: 50%;
    left: 0;
    display: inherit;
  }

}


@media (min-width: 1024px) {

  #map {
    width: 75%;
    left: 25%;
    display: inherit;
  }
  #side {
    width: 25%;
    left: 0;
    display: inherit;
  }
}


