<%# views/map/index %>
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h3>WHERE 2 PEE NYC</h3>

    <div id="map"></div>
    <div id="side">
    <h1><a href ="/map/new"> Add PEE location!</a></h1
    <form id="addressForm" action="/map/new">
      <input id="address" type="textbox" value="Enter address here">
      <input id="submit" type="button" value="Geocode">
    </form>
    <% for(i = 0; i < locations.length; i++) { %>
      <p> <%= locations[i].name %></a> </p>
      <p> <%= locations[i].address %> </p>
  <% } %>

  </div>
<script>
        function initMap() {
        var position = {lat: 40.7525703, lng: -73.9776273};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: position,
          mapTypeId: 'terrain'
        });
        let icon = {
        url: 'https://cdn.shopify.com/s/files/1/1061/1924/products/Poop_Emoji_7b204f05-eec6-4496-91b1-351acc03d2c7_large.png?v=1480481059',
        scaledSize: new google.maps.Size(25, 25)
      };
         let locations = <%- JSON.stringify(locations) %>
          for(i = 0; i < locations.length; i++){
            let pooIcon = new google.maps.Marker({
            class: 'pooIcon',
             position: {lat: locations[i].lat, lng: locations[i].lng},
             map: map,
             icon: icon })
              let infoWindow = new google.maps.InfoWindow;
              let infowincontent = document.createElement('div');
              let strong = document.createElement('strong');
              strong.innerHTML = locations[i].name;
              infowincontent.appendChild(strong);
              infowincontent.appendChild(document.createElement('br'));
              var text = document.createElement('h2');
              text.textContent = locations[i].address
              infowincontent.appendChild(text);
              infowincontent.appendChild(document.createElement('br'));
              let button = document.createElement('a');
              button.setAttribute('href', '/map/edit');
              button.innerHTML = "edit";
              infowincontent.appendChild(button);
              pooIcon.addListener('click', function() {
                infoWindow.setContent(infowincontent);
                infoWindow.open(map, pooIcon);
              });
           }

                  var geocoder = new google.maps.Geocoder();

document.getElementById('submit').addEventListener('click', function() {
  geocodeAddress(geocoder, map);
        });

function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').value;
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            console.log(results[0].geometry.bounds.b);
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location,
              icon: icon
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }
    }
</script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwGVukC1LFAwcw415VQCJpNb3n4V8VYUk&callback=initMap">
    </script>
  </body>
</html>
