<%# views/map/index %>
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
  </head>
  <body>

    <div id="map"></div>
    <div id="side">
      <h1 class = "logo">
      WHERE 2 PEE NYC <br>
      <img class ="emojiheader" src="https://cdn.shopify.com/s/files/1/1061/1924/products/OMG_Face_Emoji_large.png?v=1480481054">
      <img class ="emojiheader" src="https://emojipedia-us.s3.amazonaws.com/thumbs/320/apple/118/toilet_1f6bd.png">
      <img class ="emojiheader" src="https://cdn.shopify.com/s/files/1/1061/1924/products/Sweat_Water_Emoji_large.png?v=1480481042">
      <img class="emojiheader" src="https://cdn.shopify.com/s/files/1/1061/1924/products/Poop_Emoji_7b204f05-eec6-4496-91b1-351acc03d2c7_large.png?v=1480481059">
      <img class = "emojiheader" src="https://cdn.shopify.com/s/files/1/1061/1924/products/Hugging_Face_Emoji_2028ce8b-c213-4d45-94aa-21e1a0842b4d_large.png?v=1480481059">
    </h1>
    <form id="addressForm" action="/map/search" method= "POST">
      <input id="address" type="textbox" placeholder="Enter address here" name= 'address'>
      <input type = 'submit'>
    </form>


  </div>
<script>
        function initMap() {
        var position = {lat: 40.7525703, lng: -73.9776273};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: position,
          mapTypeId: 'terrain'
        });
        let icon = {
        url: 'https://cdn.shopify.com/s/files/1/1061/1924/products/Poop_Emoji_7b204f05-eec6-4496-91b1-351acc03d2c7_large.png?v=1480481059',
        scaledSize: new google.maps.Size(25, 25)
      };
         let locations = <%- JSON.stringify(locations) %>
          for(i = 0; i < locations.length; i++){
            let pooIcon = new google.maps.Marker({
            class: 'pooIcon',
             position: {lat: locations[i].lat, lng: locations[i].lng},
             map: map,
             icon: icon })
              let infoWindow = new google.maps.InfoWindow;
              let infowincontent = document.createElement('div');
              let strong = document.createElement('strong');
              strong.innerHTML = locations[i].name;
              infowincontent.appendChild(strong);
              infowincontent.appendChild(document.createElement('br'));
              let text = document.createElement('h2');
              text.textContent = locations[i].address
              infowincontent.appendChild(text);
              infowincontent.appendChild(document.createElement('br'));
              let button = document.createElement('a');
              button.setAttribute('href', `map/${locations[i].id}/edit`);
              button.innerHTML = "edit";
              infowincontent.appendChild(button);
              // let H2 = document.getElementsByClassName('test');
              let h2 = document.createElement('h2');
              h2.innerHTML = locations[i].name;
              document.getElementById('side').appendChild(h2);
              pooIcon.addListener('click', function() {
                infoWindow.setContent(infowincontent);
                infoWindow.open(map, pooIcon);
              });

               h2.addEventListener('click', function() {
                infoWindow.setContent(infowincontent);
                infoWindow.open(map, pooIcon);

           })
         }

    var geocoder = new google.maps.Geocoder();



function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').value;
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            console.log(results[0].geometry.bounds.b);
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location,
              icon: icon
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }
    }
</script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwGVukC1LFAwcw415VQCJpNb3n4V8VYUk&callback=initMap">
    </script>
  </body>
</html>
