<%# views/map/new.ejs %>
<html>
  <head>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
<h1>Add a location</h1>

<h1>this is new page </h1>

    <form id="addressForm">
      <input id="address" type="textbox" name ="address">
      <input id="submit" type="button" value="Geocode">
    </form>
<ul>
<li class = 'name'></li>
<li class = 'address'></li>
<li class = 'lat'></li>
<li class = 'long'></li>
<li class = 'type'></li>
</ul>



<script>




</script>

  </body>
</html>

